/* Universal Reset of elements and border-box to keep things neat*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --banner-text: #FFFFFF;
    --banner: #003349;
    --page-text: #013d57;
    --highlight: #8ACEEB;
    color: var(--banner);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Adjust spacing from the top of the page and move anchors to the right */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
}

/* Background color for the banner */
header, header * {
    background-color: var(--banner);
    color: var(--banner-text);
}

/* remove underline from hyperlink text from the entire page */
a {
    text-decoration: none;
}

/* Remove the ul dots and place items in the same row */
header ul li {
    padding: 10px 15px;
    list-style: none;
    display: inline-block;
}

/* Make the text on the banner highlight where clickable */
header ul li a:hover {
    color: var(--highlight);
}

main {
    padding: 20px;
    text-align: center;
}

/* Center the hero image horizontally */
.hero-image {
    margin-left: auto;
    margin-right: auto;
}

/* Create the sections and make the text readable on the background added */
div {
    padding: 20px;
    background-color: var(--banner);
    margin: 50px;
    border-radius: 500px;
}

p, h3 {
    color: var(--banner-text);
}

/* Center the items inside of About Me */
.self-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about p {
    color: var(--page-text);
    font-weight: bold;
    width: 800px;
    text-align: match-parent;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 80px;
}

/* Center the items inside of the Projects section */
section {
    text-align: center;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

section h3 {
    display: inline-block;
    text-align: center;
    position: absolute;
    margin: 0px 0 5px 25px;
}

section div img {
    margin-left: -500px;
}

.image-text {
    position: absolute;
    display: inline-block;
    margin: 25px 0 0 50px;
}

/* Make images change color when the mouse is placed over them */
section div img:hover {
    color: var(--highlight);
    opacity: 0.8;
}

/* Adjust spacing and item contents inside of Contact info */
.contact h2 {
    margin-bottom: 10px;
}

.contact li {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact a:hover {
    color: var(--highlight);
}