header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Call to action */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Header socials */
.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header-socials svg {
    color: var(--color-secondary);
}

.header-socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary)
}

/* Me */
.me {
    background: linear-gradient(rgb(173, 236, 233), transparent);
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#me {
    background-image: linear-gradient(rgba(168, 168, 167, 0.1), rgba(175, 174, 113, 0.2)),
    url('../../assets/me.png');
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.95;
}

/* Scroll Down Text */
.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    /* Nothing needed here yet */
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header-socials, .scroll-down {
        display: none;
    }
}