/* Universal Reset of elements and border-box to keep things neat*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background: #0B0B0D;
  --main: #DDA74F;
  --text: #FFFFFF;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

@keyframes buttonFade {
  from {background: white;}
  to {background: var(--main);}
}

a {
  color: var(--text);
  text-decoration: none;
  overflow: hidden;
}

/* a:hover {
  animation-name: buttonFade;
  animation-duration: 700ms;
  background: var(--main);
} */

header {
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
  box-shadow: 0 8px 8px 0 black;
  background: var(--background);
  border-bottom: 2px solid var(--main);
}

header, header * {
  text-shadow: 2px 2px var(--background);
  display: inline-block;
}

ul {
  width: 60%
}

header ul {
  text-align: center;
}

header ul li {
  padding-right: 40px;
  list-style: none;
}

header ul li a:hover {
  color: white;
}

body {
  background: var(--background);
}

h2 {
  color: var(--main);
  text-align: center;
  padding-top: 1.5rem;
  text-shadow: 2px 2px var(--background);
}

p {
  color: white;
  text-shadow: 2px 2px var(--background);
}

.me {
  max-width: 22rem;
  max-height: 15rem;
  padding-top: 15px;
  padding-left: 10px;
}

.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--background);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-image img {
  padding-top: 15px;
  padding-bottom: 25px;
  width: 70rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projects h2 {
  color: var(--main);
}

.projects .card-title {
  color: var(--main);
}

.btn {
  display: flex;
  justify-content: center;
  width: 40%;
  color: var(--text);
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 2px solid var(--main);
  text-shadow: 1px 1px var(--background);
  box-shadow: 1px 1px black;
}

.about btn {
  margin-right: 0;
}

.about .card-img {
  padding-top: 2.5rem;
}

.card {
  background: transparent;
  border: none;
}

.project-text {
  text-align: justify;
  padding-top: 3%;
  padding-left: 22%;
  padding-right: 22%;
  padding-bottom: 3%;
}

.about-me {
  text-align: justify;
}

.card-group h3 {
  text-align: center;
  color: var(--main);
  text-shadow: 2px 2px var(--background);
}

.card-group img {
  height: 10rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: block;
  /* font-weight: bold; */
  text-shadow: 1px 1px var(--background);
  list-style-type: none;
  color: var(--main);
  padding: 20px;
  margin: 3.5%;
  width: 50%;
  text-align: center;
}

.contact a {
  color: var(--main);
}

.contact img {
  margin: 0;
  padding: 0;
}

.contact p {
  color: var(--main);
  text-align: center;
  padding-top: 10px;
}

.contact-icons {
  padding-right: 25px;
}

.skills {
  text-align: center;
  text-shadow: 1px 1px var(--background);
  margin: 3.5%;
}

.skills li {
  color: var(--text);
  list-style: none;
  list-style-position: inside;
}

.skills h3 {
  text-align: left;
  margin-top: 2%;
  font-size: 32px;
  color: var(--main);
}

.skills a {
  margin: 3.5%;
  color: var(--text);
}

.skills img {
  max-width: 87px;
  max-height: 87px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.front {
  border: 2px solid var(--main);
  border-right: none;
}

.back {
  border: 2px solid var(--main);
}

.resume-stuff {
  width: 100%;
}

.resume-stuff img {
  margin-top: 20px;
}

.resume-text {
  width: 50%;
  color: var(--text);
  margin-left: 38%;
  text-shadow: 1px 1px var(--background);
}

.credits-list {
  padding-top: 5%;
  list-style-type: none;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .hero-image img {
      width: 35rem;
      height: 15rem;
  }
  .about img {
      padding-top: 5rem !important;
      width: 10rem;
  }
  .about p {
      width: 20rem;
  }
}

@media screen and (max-width: 575px) {
  * {
    margin: 0;
    padding: 0;
  }

  header {
    display: revert;
  }

  header ul {
    display: none;
  }

  .me a {
    margin: 0;
  }

  .me:hover .dropdown-content {
    display: block;
  }

  .hero-image img {
    width: 20rem;
    height: 15rem;
  }
  .about img {
    width: 10rem;
  }
  .about p {
    width: 10rem;
  }

  .projects img {
    width: 80%;
  }

  .projects a {
    width: 80%;
  }

  .projects p {
    width: 100%;
    word-spacing: 0%;
  }
  
  .contact li a {
    width: 100%;
    text-align: left;
  }

  .contact li img {
    max-width: 25%;
  }

  .skills li img {
    max-width: 25%;
  }

  .resume-text a {
    display: revert;
  }
}